sample-files/xml-schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>WZDx Road Events Feed</xs:documentation>
	</xs:annotation>
  
  <!-- ********************************************************************* -->
  <!-- Feed Root Element -->
  <!-- ********************************************************************* -->
	<xs:element name="wzdx_road_events_feed">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="road_event_feed_info" type="RoadEventFeedInfo"/>
				<xs:element name="road_events" type="RoadEvents"/>
				<xs:element name="lanes" type="Lanes"/>
				<xs:element name="lane_restrictions" type="LaneRestrictions"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
  
  <!-- ********************************************************************* -->
  <!-- Complex Type Definitions -->
  <!-- ********************************************************************* -->
  <xs:complexType name="RoadEventFeedInfo">
    <xs:sequence>
      <xs:element name="feed_info_id" type="xs:string"/>
      <xs:element name="feed_update_date" type="xs:dateTime"/>
      <xs:element name="metadata" type="xs:string" minOccurs="0"/>
      <xs:element name="version" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="RoadEvents">
    <xs:sequence>
      <xs:element name="road_event" type="RoadEvent" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
	<xs:complexType name="RoadEvent">
		<xs:sequence>
			<xs:element name="road_event_id" type="xs:string"/>
			<xs:element name="subidentifier" type="xs:string" maxOccurs="0"/>
			<xs:element name="geometry_type" type="GeometryType"/>
			<xs:element name="geometry" type="xs:string"/>
			<xs:element name="road_name" type="xs:string"/>
			<xs:element name="road_number" type="xs:string" maxOccurs="0"/>
			<xs:element name="direction" type="Direction"/>
			<xs:element name="beginning_cross_street" type="xs:string" minOccurs="0"/>
			<xs:element name="ending_cross_street" type="xs:string" minOccurs="0"/>
			<xs:element name="beginning_milepost" type="xs:string" minOccurs="0"/>
			<xs:element name="ending_milepost" type="xs:string" minOccurs="0"/>
			<xs:element name="beginning_accuracy" type="Accuracy"/>
			<xs:element name="ending_accuracy" type="Accuracy"/>
			<xs:element name="start_date" type="xs:dateTime"/>
			<xs:element name="end_date" type="xs:dateTime"/>
			<xs:element name="start_date_accuracy" type="Accuracy"/>
			<xs:element name="end_date_accuracy" type="Accuracy"/>
			<xs:element name="event_status" type="EventStatus" minOccurs="0"/>
			<xs:element name="types_of_work" type="TypesOfWork" minOccurs="0">
			<xs:element name="total_num_lanes" type="xs:integer" minOccurs="0"/>
			<xs:element name="vehicle_impact" type="VehicleImpact" minOccurs="0"/>
			<xs:element name="workers_present" type="xs:boolean" minOccurs="0"/>
			<xs:element name="reduced_speed_limit" type="xs:integer" minOccurs="0"/>
			<xs:element name="restrictions" type="string" maxOccurs="unbounded"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="issuing_organization" type="xs:string" minOccurs="0"/>
			<xs:element name="creation_date" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="update_date" type="xs:dateTime" minOccurs="0"/>							
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TypesOfWork">
		<xs:sequence>
			<xs:element name="type_of_work" type="TypeOfWork" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TypeOfWork">
		<xs:sequence>
			<xs:element name="type_name" type="TypeOfWorkTypeName"/>
			<xs:element name="is_architectural_change" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
  <xs:complexType name="Lanes">
    <xs:sequence>
      <xs:element name="lane" type="Lane" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
	<xs:complexType name="Lane">
		<xs:sequence>
			<xs:element name="lane_id" type="xs:integer" minOccurs="1"/>
			<xs:element name="road_event_id" type="xs:integer"/>
			<xs:element name="lane_edge_reference" type="LaneEdge"/>
			<xs:element name="lane_number" type="xs:int"/>
			<xs:element name="lane_status" type="LaneStatus"/>
			<xs:element name="lane_type" type="LaneType"/>								
		</xs:sequence>
	</xs:complexType>
	
  <xs:complexType name="LaneRestrictions">
    <xs:sequence>
      <xs:element name="lane_restriction" type="LaneRestriction" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
	<xs:complexType name="LaneRestriction">
		<xs:sequence>
			<xs:element name="lane_restriction_id" type="xs:integer" minOccurs="1"/>
			<xs:element name="lane_id" type="xs:integer"/>
			<xs:element name="restriction_type" type="Restriction"/>
			<xs:element name="restriction_value" type="xs:decimal"/>
			<xs:element name="restriction_units" type="Units"/>							
		</xs:sequence>
	</xs:complexType>
	
  <!-- ********************************************************************* -->
	<!-- Enumerated Type Definitions -->
  <!-- ********************************************************************* -->
  <xs:simpleType name="GeometryType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MultiPoint"/>
      <xs:enumeration value="LineString"/>
    </xs:restriction>
  </xs:simpleType>

	<xs:simpleType name="TypeOfWorkTypeName">
		<xs:restriction base="xs:string">
			<xs:enumeration value="maintenance"/>
			<xs:enumeration value="minor-road-defect-repair"/>
			<xs:enumeration value="roadside-work"/>
			<xs:enumeration value="overhead-work"/>
			<xs:enumeration value="below-road-work"/>
			<xs:enumeration value="barrier-work"/>
			<xs:enumeration value="surface-work"/>
			<xs:enumeration value="painting"/>
			<xs:enumeration value="roadway-relocation"/>
			<xs:enumeration value="roadway-creation"/>
		</xs:restriction>
	</xs:simpleType>
	
  <xs:simpleType name="VehicleImpact">
    <xs:restriction base="xs:string">
      <xs:enumeration value="all-lanes-closed"/>
      <xs:enumeration value="some-lanes-closed"/>
      <xs:enumeration value="all-lanes-open"/>
      <xs:enumeration value="alternating-one-way"/>
      <xs:enumeration value="unknown"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="LaneEdge">
    <xs:restriction base="xs:string">
      <xs:enumeration value="left"/>
      <xs:enumeration value="right"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="LaneStatus">
    <xs:restriction base="xs:string">
      	<xs:enumeration value="open"/>
      	<xs:enumeration value="closed"/>
      	<xs:enumeration value="shift-left"/>
      	<xs:enumeration value="shift-right"/>
      	<xs:enumeration value="merge-left"/>
      	<xs:enumeration value="merge-right"/>
      	<xs:enumeration value="alternating-one-way"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Units">
    <xs:restriction base="xs:string">
      <xs:enumeration value="feet"/>
      <xs:enumeration value="inches"/>
      <xs:enumeration value="centimeters"/>
      <xs:enumeration value="pounds"/>
      <xs:enumeration value="tons"/>
      <xs:enumeration value="kilograms"/>
    </xs:restriction>
  </xs:simpleType>
	
	
  <!-- from TMDD Link-alignment -->
	<xs:simpleType name="Direction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="northbound"/>
			<xs:enumeration value="southbound"/>
			<xs:enumeration value="eastbound"/>
			<xs:enumeration value="westbound"/>
		</xs:restriction>
	</xs:simpleType>
  
  <xs:simpleType name="Accuracy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="estimated"/>
      <xs:enumeration value="verified"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="EventStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="planned"/>
      <xs:enumeration value="pending"/>
      <xs:enumeration value="active"/>
      <xs:enumeration value="cancelled"/>
      <xs:enumeration value="completed"/>
    </xs:restriction>
  </xs:simpleType>

	<!-- from ITIS.LaneRoadways -->
	<xs:simpleType name="LaneType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="all"/>
			<xs:enumeration value="left-lane"/>
			<xs:enumeration value="right-lane"/>
			<xs:enumeration value="left-2-lanes"/>
			<xs:enumeration value="left-3-lanes"/>
			<xs:enumeration value="right-2-lanes"/>
			<xs:enumeration value="right-3-lanes"/>
			<xs:enumeration value="center"/>
			<xs:enumeration value="middle-lane"/>
			<xs:enumeration value="right-turning-lane"/>
			<xs:enumeration value="left-turning-lane"/>
			<xs:enumeration value="right-exit-lane"/>
			<xs:enumeration value="left-exit-lane"/>
			<xs:enumeration value="right-merging-lane"/>
			<xs:enumeration value="left-merging-lane"/>
			<xs:enumeration value="right-exit-ramp"/>
			<xs:enumeration value="right-second-exit-ramp"/>
			<xs:enumeration value="right-entrance-ramp"/>
			<xs:enumeration value="right-second-entrance-ramp"/>	
			<xs:enumeration value="left-exit-ramp"/>
			<xs:enumeration value="left-second-exit-ramp"/>
			<xs:enumeration value="left-entrance-ramp"/>
			<xs:enumeration value="left-second-entrance-ramp"/>
			<xs:enumeration value="sidewalk"/>
			<xs:enumeration value="bike-lane"/>
			<xs:enumeration value="none"/>
			<xs:enumeration value="unknown"/>
			<xs:enumeration value="alternating-flow-lane"/>
			<xs:enumeration value="right-shoulder"/>
			<xs:enumeration value="left-shoulder"/>
			<xs:enumeration value="both-shoulder"/>
			<xs:enumeration value="parking-lane"/>
			<xs:enumeration value="transit-lane"/>
		</xs:restriction>
	</xs:simpleType>
  
  <xs:simpleType name="Restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="no-trucks"/>
      <xs:enumeration value="travel-peak-hours-only"/>
      <xs:enumeration value="hov-3"/>
      <xs:enumeration value="hov-2"/>
      <xs:enumeration value="no-parking"/>
      <xs:enumeration value="reduced-width"/>
      <xs:enumeration value="reduced-height"/>
      <xs:enumeration value="reduced-length"/>
      <xs:enumeration value="axle-load-limit"/>
      <xs:enumeration value="gross-weight-limit"/>
      <xs:enumeration value="towing-prohibited"/>
      <xs:enumeration value="permitted-oversize-loads-prohibited"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
